footer{
    position: absolute;
    top: 215vh;
    display: grid;
    grid-template-columns: 1fr 30% 1fr;
    align-items: center;
    height: 30vh;
    width: 100%;
    color: #fff;
    background-color: #000;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    body{
        overflow-x: hidden;
        width: 100%;
    }
    footer{
        display: block;
        height: 80vh;
        width: inherit;
        top: 300vh;
    }

    footer div{
        padding: 5vh;
        width: 100% !important;
    }

    footer div img{
        width: 300px !important;
    }
}