main{
    position: absolute;
    top: 100vh;
    height: 70vh;
    width: 100%;
    color: #000;
    background-color: #fff;
}

.newsletter{
    display: flex;
    padding: 5%;
}

@media only screen and (max-width: 900px) {
    main{
        display: none;
    }
    .newsletter{
        display: none;
    }
}